<h1>Blogs#edit</h1>
<%= form_for :blog do |f| %>
    <%= f.label :title, 'Title:', class: '' %>
    <%= f.text_field :title, class: '' %>
    <%= f.label :body, 'Body:', class: '' %>
    <%= f.text_area :body, class: '' %>
    <%= f.submit %>
<% end %>
