<h1>Blogs#new</h1>
<%= form_for :blog do |f| %>
    <%= f.label :category, 'Category:', class: '' %>
    <%= f.collection_select :category, @categories, :title, :title %>
    
    <%= f.label :title, 'Title:', class: '' %>
    <%= f.text_field :title, class: '' %>

    <%= f.label :body, 'Body:', class: '' %>
    <%= f.text_area :body, class: '' %>
    <%= f.submit %>

<% end %>