<h1>Users#new</h1>
<%= form_for @user do |f| %>
    <%= f.label :f_name, "First Name:" %>
    <%= f.text_field :f_name %>
    <%= f.label :l_name, "Last Name:" %>
    <%= f.text_field :l_name %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, "Confirm Password:" %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit %>
<% end %>
